<app-list-panel [id]="'musicList'" [title]="title" [color]="color" [backgroundColor]="backgroundColor" [isActive]="isActive" (click)="onClick()">
  <div *ngIf="music" class="music--artwork inline center-items">
    <img src="{{music.artworkUrl}}" width="64" height="64" altText="Album artwork"/>
    <img src="assets/icons/play.svg" altText="Play icon" style="margin-left: 12px; margin-right: 12px;" (click)="onPlay()"/> <!-- TODO move style to class -->
    <label>{{music.songName}} - {{music.artist}}</label>
  </div> 
  <div class="music--progressbar">
    <img src="{{progressbarUrl}}" altText="Progress bar"/> <!--@TODO set dynamically / colors / progress-->
  </div>
  <div *ngIf="music && music.platforms" class="panelItems">
      <app-list-item *ngFor="let platform of music.platforms, let i=index, last as isLast" [id]="'music_link'+i" [heading]="platform.name" [url]="platform.url" [prefixImageUrl]="platform.iconUrl" [suffixImageUrl]="'assets/icons/arrow.svg'" [showDivider]="!isLast" > 
      </app-list-item> 
      
  </div>
</app-list-panel>