.profile {
  &--container {
    margin: 0px auto;
    height: 100%;
    width: 100%;
    max-width: 680px;
    padding-bottom: 80px;
  }

  &--hero {
    margin: 2em 0;
  }

  &--image {
    width: 96px;
  }

  &--label {
    margin-top: 0.7em;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.link {
  &--classic {
    margin-bottom: 8px;
  }

  &--music {
    margin-bottom: 12px;
  }

  &--shows {
    margin-bottom: 4px;
  }
}
