
<div class="centered profile--hero">
  <img src="assets/images/profile-picture.png" alt="Profile image" class="profile--image"/>
  <h1 class="profile--label">{{userName}}</h1>
</div>

<div class="profile--container">
  <div class="link--classic">
    <app-classic [url]="'https://linktr.ee/'" [title]="classicLabel" [color]="color" [backgroundColor]="backgroundColor"></app-classic>
  </div>
  <div class="link--music">
    <app-music [title]="musicLabel" [music]="music" [color]="color" [backgroundColor]="backgroundColor" [isActive]="musicActive"></app-music>
  </div>
  <div class="link--shows">
    <app-shows [title]="showsLabel" [shows]="shows" [imageUrl]="'assets/icons/songkick.svg'" [color]="color" [backgroundColor]="backgroundColor" [isActive]="showsActive">
    </app-shows>
  </div>
</div>
