<app-list-panel [id]="'showsList'" [title]="title" [color]="color" [backgroundColor]="backgroundColor" [isActive]="isActive" (click)="onClick()">
  <div>
    <app-list-item *ngFor="let show of shows, let i=index" [id]="'link'+i" [date]="show.date" [description]="[show.venue, show.state]" [suffixImageUrl]="'assets/icons/arrow.svg'" [url]="show.url" [showAltText]="show.hasTickets"  [showDivider]="true">
    </app-list-item>
  </div>
  <div class="centered panelLogo">
    <img src="{{imageUrl}}"/>
  </div>
</app-list-panel>