<button class="button--wrapper" [ngClass]="isActive ? 'active': ''" [ngStyle]="buttonStyle" (mouseover)="hover=true" (mouseleave)="hover=false" >
  <a *ngIf="url" class="button--label" (click)="onNavigate()">{{title}}</a>
  <label *ngIf="!url">{{title}}</label>
</button> 
