.button {
  &--wrapper {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    height: 48px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }

  &--label {
    text-decoration: none;
    color: inherit;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}
