.listItem {
  padding: 8px 18px 8px 0;

  &--border {
    border-bottom: 1px solid grey;
  }

  &--heading {
    font-size: 16px;
    padding: 5px 0;
  }

  &--description {
    font-size: 12px;
    padding-bottom: 8px;
  }

  &--prefix {
    padding-right: 12px;
    float: left;
    padding-top: 10px;
  }
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
