
<div *ngIf="prefixImageUrl" class="listItem--prefix">
  <img src="{{prefixImageUrl}}">
</div>
<a (click)="onNavigate()" class="listItem space-between inline center-items cursor-pointer" [ngClass]="showDivider ? 'listItem--border' : ''">
  <div>
    <!-- @TODO add types and templates for better reusability -->
    <h4 *ngIf="heading" class="listItem--heading">{{heading}}</h4>
    <h4 *ngIf="date" class="listItem--heading">{{date | date: 'MMM dd yyyy'}}</h4>
    <p *ngIf="description" class="listItem--description inline">{{formattedDescription}}</p>
  </div>
  <img *ngIf="suffixImageUrl && !showAltText" src="{{suffixImageUrl}}">
  <!-- @TODO manage what is displayed here as alt text via status type-->
  <p *ngIf="showAltText" class="listItem--description">Sold Out</p>
</a>
