/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/stylesheet.scss";

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #263238;
}

p {
  color: #263238;
}
