.full-width {
  width: 100%;
}

.inline {
  display: inline-flex;
}

.centered {
  text-align: center;
}

.space-between {
  justify-content: space-between;
  display: flex;
}

.center-items {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

// custom

.panelItems {
  padding-top: 12px;
}
