<app-button [color]="color" [backgroundColor]="backgroundColor" [isActive]="isActive" [title]="title" (click)="onPanelOpened()">
</app-button>
<div #panel [id]="'listPanel'" class="content" [ngStyle]="panelStyle" [ngClass]="'panelClass'">
  <ng-content></ng-content>
</div>